@import "./variables.css";
@import "tailwindcss";

*:focus {
  outline: none !important;
}

@layer base {
  input:read-only:focus {
    @apply border border-gray-300 ring-0 outline-none;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Custom background color */
  -webkit-text-fill-color: #4a4a4a !important; /* Custom text color */
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #4a4a4a !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
